html {
    overflow-x: hidden;
}


/* header */

.material-icons.icon-md {
    display: flex;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 35px;
}

.header {
    width: calc(100%);
    display: flex;
    flex-direction: column;
    background-color: #FFF;
}

.header__container {
    display: flex;
    align-items: center;
    background-color: none;
    width: 100vw;
}

.left_ic {
    width: 100vw;
    display: flex;
    justify-content: flex-start;
}

.left_ic img {
    position: relative;
}

.left_ic span {
    display: flex;
    align-items: center;
    padding-right: 65px;
}

.left_ic a {
    display: flex;
    align-items: center;
}

.material-icons {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    color: black;
}

.linez {
    display: flex;
    border-left: 1px solid black;
    margin-left: 20px;
    margin-right: 20px;
}

.profpic {
    display: flex;
    padding-left: 40px;
    width: 100vw;
    justify-content: flex-end;
}

.profpic img {
    border-radius: 100%;
    height: 35px;
    width: 35px;
    margin-left: 10px;
    margin-right: 25px;
}

.profpic i {
    align-items: center;
    display: flex;
}

.line {
    display: flex;
    border: 1px solid gray;
    width: 100vw;
    padding-right: 100px;
    margin-top: 15px;
}


/* header */


/* main */

.main__container {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    margin-top: 45px;
    justify-content: flex-start;
}

body {
    background-image: url("https://wallpapercave.com/wp/wp2392283.jpg");
}

.container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 70vh;
}

.left {
    display: flex;
    border: 1px solid #FFF;
    border-radius: 30px 0px 0px 30px;
    overflow: hidden;
    border-right: 0px;
    background-color: rgb(184, 54, 54);
}

.left img {
    width: 340px;
    height: 440px;
}

.right {
    background-color: #3F3F3F;
    width: 340px;
    height: 440px;
    border-radius: 0px 30px 30px 0px;
    border: 1px solid #FFF;
    border-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.right span {
    font-family: 'NATS', sans-serif;
    text-align: right;
    font-size: 2.1rem;
    color: #f1f1f1;
    display: flex;
}

.titulozin {
    display: flex;
    margin-top: 20px;
}

.titulozin span {
    display: flex;
    margin-left: 40px;
}

.info {
    display: flex;
    padding: 30px;
}

.info span {
    font-size: 1rem;
}

.info i {
    display: flex;
    justify-content: center;
}

.info .material-icons {
    display: flex;
    justify-content: flex-start;
    margin-left: 5px;
    margin-right: 5px;
}

a {
    color: black;
    text-decoration: none;
}


/* main */