<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bulb/reset.css">
    <link rel="stylesheet" href="../static/css/bulb/style.css">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <title>Monstros de Bolso!</title>
</head>

<body>
    <!-- HEADER -->
    <header class="header">
        <div class="header__container">

            <div class="left_ic">
                <img class="" height="56" src="https://st3.depositphotos.com/2633985/14483/v/380/depositphotos_144831037-stock-illustration-black-cat-in-the-pocket.jpg" alt="" />
                <a href="../templates/index.html"><span>Monstros de Bolso</span></a>
                <span>Descobrir</span>
                <span>Minha Lista</span>
            </div>

            <div class="profpic">
                <i class="material-icons">search</i>
                <i class="material-icons">add</i>
                <i class="material-icons">edit</i>
                <div class="linez"></div>
                <i class="material-icons">bug_report</i>
                <img class="prf_pic" height="46" src="https://i.ytimg.com/vi/a0LhJY3XRwg/maxresdefault.jpg" />
            </div>

        </div>
        <div class="line"></div>
    </header>
    <!-- HEADER -->

    <!-- MAIN -->

    <main class="main__container">
        <!-- POKE -->
        <div class="container">
            <div class="left">
                <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" alt="" />
            </div>
            <div class="right">

                <div class="titulozin">
                    <span>INFORMAÇÕES</span>
                </div>

                <div class="info">
                    <span>Height: 0.7m</span>
                </div>

                <div class="info">
                    <span>Weight: 6.9kg</span>
                </div>


                <div class="info">
                    <span>Gender:</span><i class="material-icons">male</i><i class="material-icons">female</i>
                </div>


                <div class="info">
                    <span>Category: Seed</span>
                </div>

                <div class="info">
                    <span>Abilities: Overgrow</span>
                </div>
            </div>
        </div>
        <!-- POKE -->
    </main>

    <!-- MAIN -->
</body>

</html>