<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/index/reset.css">
    <link rel="stylesheet" href="../static/css/index/style.css">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <title>Monstros de Bolso!</title>
</head>

<body>
    <!-- HEADER -->
    <header class="header">
        <div class="header__container">

            <div class="left_ic">
                <img class="" height="56" src="https://st3.depositphotos.com/2633985/14483/v/380/depositphotos_144831037-stock-illustration-black-cat-in-the-pocket.jpg" alt="" />
                <a href="../templates/index.html"><span>Monstros de Bolso</span></a>
                <span>Descobrir</span>
                <span>Minha Lista</span>
            </div>

            <div class="profpic">
                <i class="material-icons">search</i>
                <i class="material-icons">add</i>
                <i class="material-icons">edit</i>
                <div class="linez"></div>
                <i class="material-icons">bug_report</i>
                <img class="prf_pic" height="46" src="https://i.ytimg.com/vi/a0LhJY3XRwg/maxresdefault.jpg" />
            </div>

        </div>
        <div class="line"></div>
    </header>
    <!-- HEADER -->

    <!-- MAIN -->

    <main class="main__container">
        <!-- POKE -->
        <div class="poke">
            <div class="poke__thumbnail">
                <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" alt="" />
                <div class="poke__details">
                    <div class="title">
                        <a href="../templates/bulbassauro.html"><span>Calango com Planta</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="poke">
            <div class="poke__thumbnail">
                <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/005.png" alt="" />
                <div class="poke__details">
                    <div class="title">
                        <a href="../templates/charmeleon.html"><span>Calango com Fogo</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="poke">
            <div>
                <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/008.png" alt="" />
                <div class="poke__details">
                    <div class="title">
                        <a href="#"><span>Tartaruga Invocada</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="poke">
            <div>
                <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/015.png" alt="" />
                <div class="poke__details">
                    <div class="title">
                        <a href="#"><span>Abelha ET de Varginha</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="poke">
            <div class="poke__thumbnail">
                <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/020.png" alt="" />
                <div class="poke__details">
                    <div class="title">
                        <a href="#"><span>Ratazana</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="poke">
            <div class="poke__thumbnail">
                <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/024.png" alt="" />
                <div class="poke__details">
                    <div class="title">
                        <a href="#"><span>Celeste II (Castelo Ra-Tim-Bum)</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="poke">
            <div class="poke__thumbnail">
                <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/050.png" alt="" />
                <div class="poke__details">
                    <div class="title">
                        <a href=""><span>Verruga</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="poke">
            <div class="poke__thumbnail">
                <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/083.png" alt="" />
                <div class="poke__details">
                    <div class="title">
                        <a href="#"><span>Marreco Ladrão</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="poke">
            <div class="poke__thumbnail">
                <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/036.png" alt="" />
                <div class="poke__details">
                    <div class="title">
                        <a href="#"><span>Docinho Rosa</span></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- POKE -->
    </main>

    <!-- MAIN -->
</body>

</html>